<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427119560756-63e7f9h91i16dsulisit03f4l508j0j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427119560756-63e7f9h91i16dsulisit03f4l508j0j5</string>
	<key>API_KEY</key>
	<string>AIzaSyAIruG6xjutuhd9vVCive5F1M4KqSafIw8</string>
	<key>GCM_SENDER_ID</key>
	<string>427119560756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacoblucas.Lunar</string>
	<key>PROJECT_ID</key>
	<string>lunar-66145</string>
	<key>STORAGE_BUCKET</key>
	<string>lunar-66145.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427119560756:ios:5af8b4e8204a912ac9e261</string>
</dict>
</plist>